html,
body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.textNavbar {
    color: white !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.buyBtn {
    border-radius: 100px;
}

.a-img img {
    width: 5rem;
    height: auto;
    margin-right: 3rem;
}

#clothes,
#figurine,
#cave {
    display: none;
}

img {
    width: 90%;
    height: auto;
}

.price {
    font-size: 3rem;
}

.priceCent {
    font-size: 1.5rem;
}